// Gitalk Override Styles
// 可以通过`palette.styl`重写覆盖(https://v1.vuepress.vuejs.org/zh/config/#palette-styl)
$gitalkContainer ?= '#my-gitalk-container';

{$gitalkContainer} {
  // width: 100%;
  margin: 0 auto;
  padding: 2rem 3.5rem;
  // padding: 2rem 2.5rem;
}